.col-md-12 {
  background-color: #8de500;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #101d2f;
}

.tagline {
  color: #222222;
}

button {
  background-color: #990000;
  color: white;
}

h4 {
  color: #8de500;
}

#insertOrder {
  display: none;
}

.sidebar {
  float: right;
  background-color: #222222;
  padding: 10px;
  width: 200px;
  color: white;
  height: 700px;
  text-align: left;
}

.instructions, .orderform {
  border-width: thick;
  color: white;
  align: left;
  margin-top: 30px;
}

body {
  background-color: #101d2f;
}

.form-control {
  width: 70%;
  color: #222222;
}

#order {
  color: white;
  margin-left: 20px;
}
